html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* 背景色と、画面全体のスクロール禁止 */
body {
  color: #12242e;
  background-color: #d1ecff; /* 薄いクリームっぽい色 */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

/* アプリ全体の枠 */
.app-root {
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

/* 上の AppBar みたいなところ */
.app-bar {
  flex: 0 0 8vh;
  padding: 0 3vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #ffffff;
  border-radius: 0 0 min(30px, 3vh) min(30px, 3vh);
  background-color: #56bff3;
  box-shadow: 0 2vh 30px rgba(0, 0, 0, 0.1);
  border-bottom: 0;
}

/* 真ん中のメイン領域（ここに画面ごとのコンポーネントが入る） */
.app-main {
  flex: 1 1 auto;
  min-height: 0;     /* これ大事, flex 子要素で内部スクロールを有効にする */
  padding: 8px;
}
